<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">Bienvenue sur le Launcher Vytalic<br/><p style="font-size: 16px; font-style: italic;">Serveur: Project-U (Par défaut)</p><br/></span>
        <span id="welcomeDescription">
           Notre mission est de recréer les univers appartenants a de nombreux jeux-vidéo au sein même de MineCraft, et de les rendre accessible à tous en Multi-Joueur.
           Grâce aux efforts de nombreux membres de notre communauté, nous nous efforcons de recréer de manière consistente et précise ces mondes imaginaires, 
           afin que vous puissiez pleinement les explorer.
           <br /> <br />
           Par défaut, vous vous trouvez sur le menu du serveur <b>Project-U</b>, vous pouvez facilement changer de serveur de jeu en bas à droite du Launcher. 
           Nous proposons de multiples façons de personaliser votre expérience de jeu, avec des mods optionels en supplément de ceux nécessaires sur les serveurs, mais
           aussi des cosmestiques en jeu, et bien plus !
        </span>
        <br>
        <span id="welcomeDescCTA">Vous êtes seulement à quelques clics de rejoindre les serveurs Vytalic.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>